body{
    font-family: 'Courier New', Courier, monospace;
    background-image: url("https://img2.wallspic.com/crops/5/0/1/8/2/128105/128105-combinado-1920x1080.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.table{
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    table-layout: fixed;
}

.table caption{
    font-size: 40px;
    color: #ffb608;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: bold;
    margin: 8px 0;
}



.table th, .table td{
    font-size: 20px;
    padding: 8px;
    text-align: center;
    color: #ffb608;
    font-weight: bold;
}

.table thead th{
    text-transform: uppercase;
    background-color: #ddd;
}

.enlace{
    text-align: center;
    margin-bottom: 22px;
}

.enlace a{
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color:#fff;
    text-decoration: none;
    letter-spacing: 1.5px;
}

.enlace:hover a{
    color:#ffb608;
}


@media(max-width:600px){
    .table thead{
        display:none;
    }

    .table{
        border: 0px;
    }

    .table caption{
        text-align: center;
        justify-content: center;
        margin-left: 30%;
        display: inline;
        font-size: 24px;
        font-weight: bold;
        color:#ffb608;
    }

    .table, .table tbody, .table tr, .table td{
        display: block;
        width: 100%;
    }

    .table tr{
        margin-top: 10px;
        width: 100%;
        margin-bottom: 10px;
    }

    .table td{
        margin: -10px;
        display: block;
        text-align: right;
    }

    .table td:last-child{
        border-bottom: 0;
    }

    .table td::before{
        content: attr(data-label);
        font-weight: bold;
        text-transform: uppercase;
        float: left;
    }


}
